$color-grey-1: #F3F3F3;
$color-grey-2: #D8D8D8;
$color-grey-3: #AFAFAF;
$color-grey-4: #5E5E5E;
$color-grey-5: #F7F7F7;
$color-grey-6: #979797;
$color-grey-7: #CACACA;
$color-black: #4B4B4B;
$color-green-1: #DEFFF2;
$color-green-2: #8DEFCB;
$color-green-3: #36B996;
$color-green-4: #B5FFE4;
$color-green-5: #D5F5E9;
$color-green-6: #41C897;